@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
  body *{
    font-family: 'Poppins', sans-serif;
  }
  a:hover{
    transition: .3s ease;
    color: #a21af0 !important;
  }
nav{
  min-height: 70px;
   background: #15263e;
   .nav-link{
     color: #fff;
     line-height: 100%;
     margin: 0 25px;
     font-size: 13px;
     font-weight: 600;
   }
.nav-item{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  &:last-of-type:after{
    display: none;
    }
  }
}
.section-description{
  text-align: center;
  padding-top: 80px;
  >h2{
    margin-bottom: 25px;
    color: #15263e;
    font-size: 50px;
    font-weight: 700;
  }
  >p{
      color: #4d4d4d;
      margin-bottom: 0;
      letter-spacing: 2px;
  }
}
#main-header{
  width: 100%;
  height: calc(100% - 70px);
  background-image: url("../img/backgroundup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#inner-header{
  width: 100%;
  height: 100%;
  background: rgba(21, 38, 62, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  h1{
    font-size: 47.07px;
    line-height: 113px;
    text-align: center;
    margin-bottom: 0;
    >span:first-of-type{
      font-size: 206.48px;
      padding: 0;
      background: #dbdbdb;
      background: -webkit-linear-gradient(41deg, #dbdbdb 0%, #290a59 0%, #a21af0 0%, #ff0072 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    >span:last-of-type{
      letter-spacing: 40px;
      font-size: 118.54px;
      line-height: 50px;
      span{
        letter-spacing: 0px;
      }
    }
  }
  h4{
    position: relative;
    top: -20px;
  }
}
.action-button{
  display: block;
  background: #dbdbdb;
  background: linear-gradient(41deg, #dbdbdb 0%, #290a59 0%, #a21af0 0%, #ff0072 100%);
  color: #fff;
  border: none;
  width: 214px;
  height: 67px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  margin: 30px auto 120px auto;
  transition: .3s ease;
  &:hover{
    letter-spacing: 2px;
    cursor: pointer;
  }
}
#personal-info{
  background-image: url(../img/background2.png);
  background-position:  center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15vh;
  article{
    width: 50%;
    max-width: 320px;
    box-sizing: content-box;
    margin: 0vh 5% 10% 5%;
  }
}
.flex-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#introduction{
  text-align: right;
 *{
   margin: 0;
 }
  h2{
    color:  #15263e;
    font-size: 50px;
    margin-bottom: 8px;
    font-weight: 600;
  }
  h4{
    color: #a21af0;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
  }
}
#skills-percentage{
  h6{
    position: relative;
    text-align: center;
    color: #4d4d4d;
    font-weight: 600;
    margin-top: 30px;
  }
  h6::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 80%;
    max-width: 300px;
    height: 9px;
    border-radius: 8px;
    background: #a21af0;
    background: linear-gradient(41deg, #a21af0 48%, #ff0072 52%);
  }
}
#contact-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  background: #dcdcde;
}
.contact-data{
  min-width: 320px;
  max-width: 400px;
  width: 30%;
  height: 100px;
  display: flex;
  padding-top: 6.5px;
}
.icon-box{
  width: 87px;
  height: 87px;
  background: #374362;
  border-radius: 50%;
  text-align: center;
}
.contact-icon{
  color: #fff;
  font-size: 30px;
  height: 87px;
}
.contact-content{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: #4d4d4d;
  p{
    margin: 0;
  }
  h6{
    font-weight: 600;
    margin-bottom: 18px;
  }
  a{
    color: inherit;
  }
}
#services{
  text-align: center;
  color: #4d4d4d;
   >*{
     margin-bottom: 0;
   }
}
#service-features{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}
.service-feature{
  min-width: 320px;
  padding: 0 10px;
  margin-top: 70px;

  h4{
    margin-bottom: 27px;
  }
  p{
    width: 320px;
    margin: auto;
  }
}
.service-box{
  background: #dbdbdb;
  background: -webkit-linear-gradient(41deg, #dbdbdb 0%, #290a59 0%, #a21af0 0%, #ff0072 100%);
  background: linear-gradient(41deg, #dbdbdb 0%, #290a59 0%, #a21af0 0%, #ff0072 100%);
  margin: auto;
  height: 113px;
  width: 113px;
  margin-bottom: 27px;
}
.service-icon{
  color: #fff;
  font-size: 40px;
  height: 113px;
}
#testimonials{
  min-height: 600px;
  background-image: url(../img/testimonial-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#fff;
  h2{
    text-align: center;
    margin: 100px 0;
    font-weight: 600;
    font-size: 40px;
  }
}
.single-testimonial{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  img{
    border-radius: 50%;
    border: 10px solid #fff;
  }
}
.quote{
  position: relative;
  text-align: right;
  font-size: 15px;
  max-width: 400px;
  margin: 0 100px 20px 100px;
  .fa-quote-right, .fa-quote-left{
    position: absolute;
    font-size: 23px;
  }
  .fa-quote-right{
    bottom: 0;
    right: -45px;
    transform: translateY(60%);
  }
  .fa-quote-left{
    top: 0;
    left: -35px;
    transform: translateY(-80%);
  }
}
.testimonial-person{
  display: flex;
  align-items: center;
  h3{
    font-size: 34px;
    text-align: center;
    margin: 0 50px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 27px;
    span{
      font-size: 0.5em;
      letter-spacing: normal;
      color: #c713d6;
      line-height: 10px;
      font-weight: 700;
    }
  }
}
#portfolio{
  color: #4d4d4d;
}
#main-portfolio{
  margin: 65px 0 80px 0;
  display: flex;
  justify-content: flex-start;
}
#portfolio-panel{
  min-width: 165px;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 7px 0 0;
  ul{
    list-style: none;
    text-align: left;
    padding: 0;
    font-weight: 600;
  }
  li{
    margin-bottom: 15px;
    font-size: 22px;
    transition: .3s ease;
    cursor: pointer;
    &:hover{
      color: #7814a8;
    }
  }

}
#portfolio-projects{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.portfolio-project{
  display: block;
  width: 40%;
  min-width: 120px;
  margin: 0 7px 14px 7px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    transition: .4s ease;
  }
}
.active-filter{
  color: #a91aef;
}

#experience{
  background: #ff0072;
  background: linear-gradient(41deg, #a21af0 12%, #ff0072 88%);
  color: #fff;
  .section-description{
    *{
      color: #fff;
    }
  }
}
#experience-content{
  display: flex;
  flex-direction: column;
  padding: 100px 0 50px 0;
}
.experience-post{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
  padding: 0 7px;
  h3{
    position: relative;
    font-weight: 600px;
    text-align: right;
    font-size: 24px;
    padding-right: 25px;
    margin-right: 20px;
    border-right: 15px solid #fff;
    span{
      font-size: 0.8em;
      letter-spacing: 2px;
    }
  }
  p{
    max-width: 700px;
    position: relative;
    bottom: 10px;
    padding: 0 5px;
    font-size: 15px;
  }
  &:nth-of-type(even){
    flex-direction: row-reverse;
    h3{
      text-align: left;
      border-left: 15px solid #fff;
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
      padding-left: 25px;
      margin-left: 20px;
    }
    p{
      text-align: right;
    }
  }
}

#blog-posts{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.blog-post{
  width: 22%;
  max-width: 400px;
  margin: 15px 20px 0 20px;
  img{
    height: 18vw;
    max-height: 250px;
    width: 100%;
  }
  h6{
    color: #929292;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
  }
  a{
    display: block;
    color: #15263e;
    font-weight: 600;
    margin-top: 7px;
  }
  .blog-post-description{
    color: #494949;
    font-size: 12px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
#contact{
  position: relative;
  padding: 70px;
}
#contact-inner{
  position: relative;
  z-index: 2;
  width: 85%;
  margin: auto;
  padding-bottom: 5px;
  background: #15263e;
  .section-description{
    *{
      color: #fff;
    }
  }
}
#googleMap{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  background: red;
  z-index: 0;
  filter: grayscale(100%);
}
#contact-message{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 10% 10px 10%;
  input, textarea{
    padding-left: 20px;
    transition: .3s ease;
    font-size: 18px;
    transition: .3s ease;
    &:focus{
      background: #e9e3e3;
    }
  }
  input{
    flex-grow: 1;
    height: 55px;
    min-width: 150px;
    margin: 0 25px 25px 0;
    &:last-of-type{
      margin-right: 0;
    }
  }
  textarea{
    resize: none;
    width: 100%;
    padding-top: 5px;
    min-height: 150px;
  }
}
footer{
  padding: 40px 10px;
  text-align: center;
  p{
    margin: 0;
  }
}
@media only screen and (max-width: 1338px){
  #contact-message{
    input{
      &:nth-of-type(2){
        margin-right: 0;
      }
      &:last-of-type{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 991px){
  .nav-item{
    &:after{
      display: none;
    }
  }
}

@media only screen and (max-width: 935px){
  #contact-message{
    input{
      &:first-of-type{
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 820px){
  #inner-header{
    h1{
      line-height: 62px;
      >span:first-of-type{
        font-size: 103.48px;
      }
      >span:last-of-type{
        font-size: 59.54px;
      }
    }
    h4{
      top: 0px;
    }
  }

  #personal-info{
    flex-direction: column;
    align-items: center;
    background: #fff;
    article{
      width: 100%;
      max-width: 600px;
    }
  }
  #introduction{
    text-align: center;
  }
  #contact{
    padding: 0;
  }
  #contact-inner{
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 700px){
  .blog-post{
    margin: 15px 5px 0 5px;
    width: 25%;
    img{
      height: 22vw;
    }
  }
}
@media only screen and (max-width: 600px){
  .experience-post{
    flex-wrap: wrap;
    text-align: center !important;
    p{
      margin-top: 20px;
    }
    &:nth-of-type(even){
      p{
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 500px){
  .portfolio-project{
    width: 100%;
    margin: 0 14px 14px 7px;
  }
  #blog-posts{
    flex-direction: column;
    align-items: center;
  }
  .blog-post{
    width: 85%;
    img{
      height: auto;
    }
  }
}
